.background{
    
    background-color: black;
    color: white;
    height: 450px;
    background-size: cover;
}
.title h2{
   padding: 150px;
   color: #fff;
   font-size: 50px;
   font-weight: 800;
   text-transform: capitalize;
   line-height: 1;
   margin: 0px auto;
   text-align: center;
}
