.bg-image{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mb-5{
    margin-top: 100px;
    /* font-weight: 800; */
    font-size: 60px;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}
.btn{
    display: flex;
    width: max-content;
}
.btn:hover{
    color: white;
    background-color: blue;
}
.text-white{
    margin-top: 75px;
}